.header-child {
  position: absolute;
  top: 59px;
  left: calc(50% - 720px);
  width: 1440px;
  height: 69px;
}
.nostra-logo,
.shopping-cart {
  position: absolute;
  top: 0;
  left: 0;
  width: 1236px;
  height: 127px;
}
.shopping-cart {
  top: 7px;
  left: 1164px;
  width: 27px;
  height: 27px;
  overflow: hidden;
}
.guests-icon {
  position: absolute;
  top: 8px;
  right: 0.3px;
  width: 23.7px;
  height: 23.7px;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: #f5f5f5;
  width: 227px;
  height: 40px;
}
.search {
  position: absolute;
  top: 13px;
  left: 36.5px;
  letter-spacing: 0.04em;
  display: inline-block;
  width: 61.1px;
  height: 13.6px;
}
.rectangle-parent {
  position: absolute;
  top: 0;
  left: 912px;
  width: 227px;
  height: 40px;
  font-size: var(--font-size-xs);
  color: #575757;
}
.customise,
.kids,
.men1,
.new-arrival,
.women {
  position: absolute;
  top: 10px;
  left: 685px;
  letter-spacing: 0.04em;
  display: inline-block;
  width: 111px;
  height: 22px;
}
.kids,
.men1,
.new-arrival,
.women {
  left: 624px;
}
.men1,
.new-arrival,
.women {
  left: 534px;
  width: 70px;
}
.men1,
.new-arrival {
  left: 473px;
  width: 84px;
  height: 18px;
}
.new-arrival {
  left: 342px;
  width: 111px;
}
.user-interface-magnifier {
  position: absolute;
  top: 0;
  left: 674px;
  width: 20px;
  height: 21.8px;
  overflow: hidden;
}
.shop {
  position: absolute;
  top: 1px;
  left: 0;
  letter-spacing: 0.04em;
  display: inline-block;
  width: 64px;
  height: 19px;
}
.user-interface-magnifier-parent {
  position: absolute;
  top: 9px;
  left: 248px;
  width: 693.9px;
  height: 21.8px;
}
.landing-page-title {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
}
.and-a-subheading {
  align-self: stretch;
  position: relative;
  font-size: var(--subheading-size);
  line-height: 150%;
  color: var(--color-gray-100);
}
.button {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: var(--button-shadow);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-5xl);
  text-align: left;
  font-size: var(--small-text-size);
  color: var(--color-black);
}
.copy,
.copy-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.copy {
  width: 837px;
  align-items: center;
  gap: var(--gap-5xl);
}
.copy-wrapper {
  position: absolute;
  top: 274px;
  left: 289px;
  align-items: flex-start;
  padding: 10px;
  text-align: center;
  font-size: var(--title-size);
}
.image-drag-in-to-fill {
  position: absolute;
  width: 88.89%;
  top: calc(50% - 417.5px);
  right: 5.56%;
  left: 5.56%;
  border-radius: var(--br-5xs);
  max-width: 100%;
  overflow: hidden;
  height: 640px;
  object-fit: cover;
}
.heading1 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
  font-weight: 600;
}
.subheading-to-introduce {
  width: 625px;
  position: relative;
  font-size: var(--subheading-size);
  line-height: 150%;
  color: var(--color-gray-100);
  display: flex;
  align-items: center;
}
.heading {
  position: absolute;
  top: 1381px;
  left: 80px;
  width: 733px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--spacing-xs);
  font-size: var(--heading-size);
}
.a-terrific-piece {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.avatar-icon {
  width: 45px;
  position: relative;
  border-radius: 50%;
  height: 45px;
  object-fit: cover;
}
.description,
.name {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.description {
  color: var(--color-gray-100);
}
.avatar,
.name-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.avatar {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
  font-size: var(--small-text-size);
}
.customer-quote,
.customer-quote1 {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--color-black);
  box-shadow: -4px 8px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-whitesmoke-100);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--spacing-sm);
  gap: var(--spacing-m);
}
.customer-quote1 {
  align-self: stretch;
}
.button2,
.cards,
.items {
  display: flex;
  flex-direction: row;
}
.cards {
  position: absolute;
  top: 1501px;
  left: 80px;
  width: 1280px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--spacing-sm);
}
.button2,
.items {
  align-items: center;
}
.button2 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: var(--button-shadow);
  justify-content: center;
  padding: var(--padding-sm) var(--padding-5xl);
  font-size: var(--small-text-size);
  color: var(--color-black);
}
.items {
  position: absolute;
  top: 56px;
  right: 80px;
  justify-content: flex-end;
  gap: var(--spacing-m);
}
.site-name {
  position: absolute;
  top: 67px;
  left: 80px;
  line-height: 150%;
  font-weight: 500;
}
.navigation {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-black);
  height: 164px;
  overflow: hidden;
}
.topic {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 500;
  color: var(--color-white);
}
.items1,
.items2,
.items3 {
  position: absolute;
  top: 48px;
  right: 517px;
  width: 187px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: var(--spacing-s);
}
.items2,
.items3 {
  right: 298px;
}
.items3 {
  right: 80px;
}
.site-name1 {
  position: absolute;
  top: 52px;
  left: 80px;
  font-size: var(--subheading-size);
  line-height: 150%;
  color: var(--color-white);
}
.buttons-icon {
  width: 40px;
  position: relative;
  border-radius: var(--br-9xs);
  height: 40px;
  object-fit: cover;
}
.social-icons {
  position: absolute;
  top: 176px;
  left: 80px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--spacing-xs);
}
.divider {
  position: absolute;
  top: 0.5px;
  left: 79.5px;
  border-top: 1px solid #e6e6e6;
  box-sizing: border-box;
  width: 1281px;
  height: 1px;
}
.navigation-footer {
  position: absolute;
  width: 100%;
  top: 1813px;
  right: 0;
  left: 0;
  background-color: var(--color-black);
  height: 264px;
  overflow: hidden;
  font-size: var(--small-text-size);
  color: var(--color-darkslategray);
}
.landing-page-01,
.text {
  position: absolute;
  font-family: var(--small-text);
}
.landing-page-01 {
  top: -1119px;
  left: 3038px;
  background-color: var(--color-black);
  width: 1440px;
  height: 2077px;
  overflow: hidden;
  font-size: var(--body-text-size);
}
.text {
  top: 109px;
  left: 390px;
  font-size: var(--title-size);
  letter-spacing: 0.04em;
  display: inline-block;
  width: 346px;
  height: 24px;
}
.white-nike-logo-png-1-icon {
  position: absolute;
  top: 7px;
  left: 3px;
  width: 70.3px;
  height: 25px;
  object-fit: cover;
}
.jordan-logo-white-downloadzee-icon {
  position: absolute;
  top: 0;
  left: 101px;
  width: 36px;
  height: 34px;
  object-fit: cover;
}
.header1 {
  position: absolute;
  height: 30.08%;
  top: 0;
  bottom: 69.92%;
  left: calc(50% - 620px);
  width: 1240px;
  text-align: left;
}
.cop-new-editions {
  position: absolute;
  top: calc(60% + 10px);
  left: calc(50% - 601px);
  font-size: var(--font-size-sm);
  letter-spacing: 0.04em;
  white-space: pre-wrap;
  width:1100px;
  height: 16px;
}
.sale-alert-limited {
  position: absolute;
  top: 75px;
  left: 596px;
  letter-spacing: 0.04em;
}
.header {
  position: absolute;
  top: 20px;
  left: calc(50% - 720px);
  width: 1440px;
  height: 128px;
  overflow: hidden;
  font-family: var(--font-helvetica);
}
.marie-michele-bouchard-j-zyswc-icon {
  position: absolute;
  top: 18px;
  left: 100px;
  width: 1240px;
  height: 749px;
  object-fit: contain;
}
.sale {
  color: var(--color-firebrick);
}
.step-into-savings-container {
  position: absolute;
  top: 87px;
  left: 115px;
  text-transform: uppercase;
  font-weight: 800;
  display: inline-block;
  width: 444px;
  height: 267px;
  font-family: var(--font-futura-std);
}
.button-child {
  width: 171px;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--color-firebrick);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  height: 53px;
  z-index: 0;
}
.shop-now {
  width: 105px;
  position: absolute;
  margin: 0 !important;
  top: 15px;
  left: 34px;
  letter-spacing: 0.04em;
  display: inline-block;
  z-index: 1;
  color:var(--color-white);
}
.button4 {
  top: 339px;
  left: calc(50% - 479px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: left;
  font-size: var(--body-text-size);
  color: #fffdfd;
  font-family: var(--font-helvetica);
  color:white;
}
.banner,
.button4,
.text1 {
  position: absolute;
}
.banner {
  top: 210px;
  left: calc(50% - 720px);
  width: 1440px;
  height: 767px;
  overflow: hidden;
  font-size: var(--font-size-31xl);
}
.text1 {
  top: 3px;
  left: 100px;
  letter-spacing: 0.04em;
  font-family: var(--font-helvetica);
  text-align: left;
}
.fausto-sandoval-da8o8tsoveu-un-icon {
  position: absolute;
  top: 115px;
  left: 103px;
  width: 400px;
  height: 680px;
  object-fit: contain;
}
.allef-vinicius-wz9jkxde3pg-uns-icon {
  position: absolute;
  top: 130px;
  left: 948px;
  width: 392px;
  height: 587px;
  object-fit: cover;
  display: none;
}
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  width: 189px;
  height: 50px;
}
.street-wear {
  position: absolute;
  top: 15px;
  left: 21px;
  text-transform: uppercase;
  font-weight: 800;
  display: inline-block;
  width: 150px;
  height: 19.4px;
  font-size: 14px;
}
.collection-inner,
.vector-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 189px;
  height: 50px;
}
.collection-inner {
  top: 699px;
  left: 189px;
}
.jc-gellidon-ht4y0uwvtn8-unspla-icon {
  position: absolute;
  top: 115px;
  left: calc(50% - 197px);
  width: 397px;
  height: 680px;
  object-fit: cover;
}
.jc-gellidon-ht4y0uwvtn8-unspla-icon1 {
  position: absolute;
  top: 115px;
  left: 940px;
  width: 400px;
  height: 680px;
  object-fit: cover;
}
.collection-child,
.rectangle-icon {
  position: absolute;
  top: 699px;
  left: 625px;
  width: 189px;
  height: 50px;
}
.rectangle-icon {
  top: 0;
  left: 11px;
  border-radius: var(--br-31xl);
  width: 125px;
}
.fashion {
  position: absolute;
  top: 15px;
  left: 0;
  text-transform: uppercase;
  font-weight: 800;
  display: inline-block;
  width: 147px;
  height: 19.4px;
  font-size: 14px;
}
.collection1,
.group-div,
.vector-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 147px;
  height: 50px;
}
.collection1,
.group-div {
  top: 699px;
  left: 1066px;
}
.collection1 {
  top: 0;
  left: 103px;
  font-size: var(--heading-size);
  text-transform: uppercase;
  font-weight: 800;
  display: inline-block;
  width: 271px;
  height: 35px;
  font-family:var(--font-futura-std) ;
}
.collection {
  position: absolute;
  top: 1057px;
  left: calc(50% - 720px);
  width: 1440px;
  height: 835px;
  overflow: hidden;
  font-size: var(--body-text-size);
}
.sale-on-holliday {
  position: absolute;
  top: 36px;
  left: 103px;
  text-transform: uppercase;
  font-weight: 800;
  display: inline-block;
  font-family:var(--font-futura-std) ;
  width: 437px;
  height: 36px;
}
.frame-child,
.sale-on-holiday-child {
  position: absolute;
  top: 36px;
  left: 1240px;
  border-radius: var(--br-31xl);
  width: 100px;
  height: 46px;
}
.frame-child {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 379px;
  height: 390px;
  object-fit: cover;
}
.div,
.nike-air-max {
  position: absolute;
  top: 390px;
  left: 4px;
  letter-spacing: 0.04em;
  font-weight: 500;
}
.div {
  top: 408px;
  font-size: var(--font-size-lg);
  font-weight: 600;
}
.frame-item,
.shopping-cart2 {
  position: absolute;
  border-radius: var(--br-9xs);
}
.frame-item {
  top: 0;
  left: 0;
  background-color: var(--color-firebrick);
  width: 36px;
  height: 36px;
}
.shopping-cart2 {
  top: 7px;
  left: 7px;
  width: 22px;
  height: 22px;
  overflow: hidden;
}
.component-1-child,
.rectangle-container {
  position: absolute;
  top: 390px;
  left: 345px;
  border-radius: var(--br-9xs);
  background-color: var(--color-firebrick);
  width: 36px;
  height: 36px;
}
.component-1-child {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-31xl);
}
.sale1 {
  position: absolute;
  height: 50%;
  width: 67%;
  top: 26.09%;
  left: 21%;
  letter-spacing: 0.04em;
  font-weight: 600;
  display: inline-block;
}
.component-1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  width: 100px;
  height: 46px;
  font-size: var(--body-text-size);
}
.frame-inner,
.rectangle-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 381px;
  height: 426px;
}
.frame-inner {
  top: -29px;
  border-radius: var(--br-3xs);
  width: 434px;
  height: 447px;
  object-fit: cover;
}
.div1,
.div2,
.nike-mens-air {
  position: absolute;
  top: 389px;
  left: 4px;
  letter-spacing: 0.04em;
  font-weight: 500;
}
.div1,
.div2 {
  top: 404px;
  font-size: var(--font-size-lg);
  font-weight: 600;
}
.div2 {
  left: 46px;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  display: none;
  width: 42px;
  height: 23px;
  opacity: 0.5;
}
.component-11,
.frame-icon {
  position: absolute;
  top: 391px;
  left: 398px;
  border-radius: var(--br-9xs);
  width: 36px;
  height: 36px;
}
.component-11 {
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-firebrick-100);
  width: 100px;
  height: 46px;
  font-size: var(--body-text-size);
}
.frame-child1,
.frame-div {
  position: absolute;
  top: 0;
  left: 401px;
  width: 434px;
  height: 427px;
}
.frame-child1 {
  top: 4px;
  left: -3px;
  border-radius: var(--br-3xs);
  width: 392px;
  height: 403px;
  object-fit: cover;
}
.div3,
.nike-air-max1 {
  position: absolute;
  top: 392px;
  left: 4px;
  letter-spacing: 0.04em;
  font-weight: 500;
}
.div3 {
  top: 410px;
  font-size: var(--font-size-lg);
  font-weight: 600;
}
.rectangle-parent2 {
  position: absolute;
  top: 392px;
  left: 349px;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  width: 36px;
  height: 36px;
}
.frame-parent,
.rectangle-parent1 {
  position: absolute;
  top: 0;
  left: 855px;
  width: 385px;
  height: 428px;
}
.frame-parent {
  top: 152px;
  left: 100px;
  width: 1240px;
  text-align: left;
  font-size: var(--small-text-size);
  font-family: var(--small-text);
}
.sale-on-holiday-item {
  position: absolute;
  top: 660px;
  left: 420px;
  width: 519px;
  height: 0;
}
.sale-on-holiday {
  position: absolute;
  top: 1896px;
  left: calc(50% - 720px);
  width: 1440px;
  height: 680px;
  overflow: hidden;
  font-size: var(--heading-size);
}
.paul-volkmer-azf7dl-8qhk-unspl-icon {
  position: absolute;
  top: 39px;
  left: 439px;
  width: 901px;
  height: 478px;
  object-fit: cover;
}
.restock-child {
  position: absolute;
  top: 39px;
  left: 100px;
  background-color: var(--color-firebrick);
  width: 319px;
  height: 481px;
}
.p,
.restock-in-your {
  margin: 0;
  font-size: 40px   ;
}
.p {
  font-size: 100px;
  letter-spacing: -9px;
}
.restock-in-your-container {
  position: absolute;
  top: 124px;
  left: 131px;
  letter-spacing: 0.04em;
  display: inline-block;

  width: 258px;
  height: 416px;
}
.comingsoon-icon,
.restock {
  position: absolute;
  left: calc(50% - 720px);
  width: 1440px;
  overflow: hidden;
}
.restock {
  top: 2597px;
  height: 597px;
  font-size: var(--font-size-31xl);
  font-family: var(--font-sfu-futura);
}
.comingsoon-icon {
  top: 3231px;
  height: 747px;
  object-fit: cover;
}
.more-to-explore1 {
  position: absolute;
  top: 38px;
  left: 98px;
  font-size: var(--heading-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--font-sfu-futura);
  text-align: center;
  width: 400  px;
  height: 46px;
}
.frame-child2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 360px;
  height: 370px;
  object-fit: cover;
}
.div4,
.nike-mens-air1 {
  position: absolute;
  top: 394px;
  left: 0;
  letter-spacing: 0.04em;
  font-weight: 500;
  display: inline-block;
  width: 116px;
  height: 14px;
}
.div4 {
  top: 413px;
  font-size: var(--font-size-lg);
  font-weight: 600;
  width: 46px;
  height: 17px;
}
.rectangle-parent4 {
  position: absolute;
  top: 394px;
  left: 342px;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  width: 36px;
  height: 36px;
}
.group-child1,
.rectangle-parent3 {
  position: absolute;
  top: 173px;
  left: 535px;
  width: 382px;
  height: 455px;
}
.group-child1 {
  top: 45px;
  left: 0;
  border-radius: var(--br-3xs);
  width: 360px;
  height: 370px;
  object-fit: cover;
}
.div6,
.nike-air-max2 {
  position: absolute;
  top: 400px;
  left: 4px;
  letter-spacing: 0.04em;
  font-weight: 500;
}
.div6 {
  top: 418px;
  font-size: var(--font-size-lg);
  font-weight: 600;
}
.rectangle-parent6 {
  position: absolute;
  top: 400px;
  left: 324px;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  width: 36px;
  height: 36px;
}
.rectangle-parent5 {
  position: absolute;
  top: 174px;
  left: 961px;
  width: 360px;
  height: 440px;
}
.div7,
.nike-mens-air2 {
  position: absolute;
  top: 394px;
  left: 5px;
  letter-spacing: 0.04em;
  font-weight: 500;
}
.div7 {
  top: 412px;
  font-size: var(--font-size-lg);
  font-weight: 600;
  display: inline-block;
  width: 46px;
  height: 16px;
}
.rectangle-parent8 {
  position: absolute;
  top: 394px;
  left: 324px;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  width: 36px;
  height: 36px;
}
.rectangle-parent7 {
  position: absolute;
  top: 174px;
  left: 109px;
  width: 382px;
  height: 430px;
}
.more-to-explore-child {
  position: absolute;
  top: 38px;
  left: 1243px;
  border-radius: var(--br-31xl);
  width: 100px;
  height: 46px;
}
.more-to-explore-item {
  position: absolute;
  top: 708px;
  left: 423px;
  width: 519px;
  height: 0;
}
.more-to-explore {
  position: absolute;
  top: 4081px;
  left: calc(50% - 720px);
  width: 1441px;
  height: 729px;
  overflow: hidden;
  text-align: left;
  font-family: var(--small-text);
}
.mens-shose {
  font-size: var(--small-text-size);
  color: var(--color-white);
}
.mens-shose,
.under {
  margin-block-start: 0;
  margin-block-end: 18px;
}
.mens-shose-70-container {
  position: absolute;
  top: 22px;
  left: 208px;
  letter-spacing: 0.04em;
  display: inline-block;
  width: 196px;
  height: 421px;
}
.featured-all-mens-container,
.mens-gear-backpacks-container,
.mens-wear-joggers-container {
  position: absolute;
  top: 25px;
  left: 470px;
  letter-spacing: 0.04em;
  display: inline-block;
  width: 196px;
  height: 418px;
}
.featured-all-mens-container,
.mens-gear-backpacks-container {
  top: 22px;
  left: 753px;
  height: 194px;
}
.featured-all-mens-container {
  left: 1036px;
  height: 421px;
}
.mens-shose-70-under-easy-o-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 263px;
}
.box {
  position: absolute;
  top: 4869px;
  left: calc(50% - 717px);
  width: 1440px;
  height: 443px;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-darkgray);
  font-family: var(--font-helvetica);
}
.become-a-member,
.find-a-store,
.send-us-feedback,
.sign-up-for,
.student-discounts {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 25px;
  text-transform: uppercase;
  font-weight: 800;
}
.become-a-member,
.send-us-feedback,
.sign-up-for,
.student-discounts {
  top: 34px;
}
.send-us-feedback,
.sign-up-for,
.student-discounts {
  top: 68px;
}
.send-us-feedback,
.student-discounts {
  top: 102px;
}
.student-discounts {
  top: 136px;
}
.frame4 {
  width: 192px;
  height: 170px;
}
.frame3,
.frame4,
.get-help {
  position: absolute;
  top: 0;
  left: 0;
}
.frame3 {
  width: 183px;
  height: 170px;
  overflow: hidden;
}
.get-help {
  font-size: var(--font-size-sm);
  letter-spacing: 0.4px;
  line-height: 19.2px;
  text-transform: uppercase;
  font-weight: 800;
  font-family: var(--font-futura-std);
}
.delivery,
.order-status,
.payment-options,
.returns {
  position: absolute;
  top: 31px;
  left: 0;
  line-height: 22.4px;
}
.delivery,
.payment-options,
.returns {
  top: 54px;
  left: -1px;
}
.payment-options,
.returns {
  top: 77px;
}
.payment-options {
  top: 100px;
  left: 0;
}
.contact-us-on,
.contact-us-on1 {
  position: absolute;
  left: 0.2px;
  line-height: 22.4px;
}
.contact-us-on {
  top: 123px;
  white-space: pre-wrap;
}
.contact-us-on1 {
  top: 146px;
}
.frame5,
.frame6 {
  position: absolute;
  top: 0;
  left: -0.2px;
  width: 192px;
  height: 237px;
}
.frame5 {
  left: 293px;
  width: 183px;
  height: 170px;
  overflow: hidden;
  font-size: var(--font-size-xs);
  font-family: var(--font-helvetica);
}
.about-nike,
.frame2 {
  position: absolute;
  left: 0;
}
.frame2 {
  top: 0;
  width: 770px;
  height: 169px;
}
.about-nike {
  top: -0.8px;
  font-size: var(--font-size-sm);
  letter-spacing: 0.4px;
  line-height: 19.2px;
  text-transform: uppercase;
  font-weight: 800;
  font-family: var(--font-futura-std);
}
.careers {
  top: 54px;
  line-height: 22.4px;
}
.careers,
.frame8,
.investors {
  position: absolute;
  left: 0;
}
.investors {
  top: 77px;
  line-height: 22.4px;
}
.frame8 {
  top: 0;
  width: 120px;
  height: 118px;
}
.frame-icon1,
.frame7 {
  position: absolute;
  top: 0;
  overflow: hidden;
}
.frame7 {
  left: 650px;
  width: 120px;
  height: 169px;
  font-size: var(--font-size-xs);
  font-family: var(--font-helvetica);
}
.frame-icon1 {
  right: 116px;
  width: 24px;
  height: 24px;
}
.frame-icon2 {
  position: absolute;
  right: 77px;
}
.frame-icon2,
.frame-icon3,
.frame-icon4 {
  top: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.frame-icon3 {
  position: absolute;
  right: 38px;
}
.frame-icon4 {
  right: 0;
}
.frame-icon4,
.frame1,
.frame9 {
  position: absolute;
}
.frame9 {
  top: 0;
  left: 1100px;
  width: 140px;
  height: 24px;
}
.frame1 {
  top: 20px;
  left: calc(50% - 620px);
  width: 1240px;
  height: 173px;
}
.frame-icon5 {
  width: 14.4px;
  position: relative;
  height: 12px;
  overflow: hidden;
  flex-shrink: 0;
}
.vietnam {
  position: relative;
  line-height: 9.6px;
}
.auto-layout-horizontal {
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 84px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs-2) 0 0;
  box-sizing: border-box;
  gap: var(--gap-6xs-4);
}
.nike-inc-all {
  position: absolute;
  top: 15px;
  left: 117px;
  line-height: 9.6px;
  display: flex;
  align-items: center;
  width: 308px;
  height: 11px;
}
.frame11,
.guides {
  position: absolute;
  top: 8px;
}
.frame11 {
  left: 0;
  width: 529px;
  height: 26px;
}
.guides {
  left: 232.6px;
  line-height: 22.4px;
  text-align: center;
}
.nike-privacy-policy,
.terms-of-sale,
.terms-of-use {
  position: absolute;
  top: 8px;
  left: 322px;
  line-height: 22.4px;
}
.nike-privacy-policy,
.terms-of-use {
  left: 453px;
}
.nike-privacy-policy {
  left: 581px;
}
.frame12 {
  position: absolute;
  top: 1px;
  left: 539px;
  width: 701px;
  height: 37px;
  text-align: right;
}
.frame10 {
  top: 242px;
  left: 0;
  width: 1240px;
  height: 38px;
  font-family: var(--font-helvetica);
}
.fotter,
.frame,
.frame10 {
  position: absolute;
}
.frame {
  top: 0;
  left: calc(50% - 620px);
  width: 1240px;
  height: 280px;
}
.fotter {
  bottom: -6px;
  left: calc(50% - 717px);
  background-color: var(--color-firebrick);
  width: 1440px;
  height: 300px;
  text-align: left;
  font-size: var(--font-size-sm);
}
.men {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  height: 5686px;
  overflow: hidden;
  text-align: center;
  font-size: var(--small-text-size);
  color: var(--color-white);
  font-family: var(--font-helvetica);
}
.restock-in-your1{
  margin:0px;
}
.customise,.kids,.women,.men1,.new-arrival,.sales{
  color:var(--color-white);
}